.GameAmountScoreSection {
  height: 100vh;
  max-width: 376px;
  width: 100%;
  background: #f5f5f7;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.ScoreContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top: 65px;
  height: calc(100vh - 65px);
  padding-bottom: 20px;
  overscroll-behavior: contain;
  pointer-events: auto;
}

@supports (-webkit-touch-callout: none) {
  .ScoreContainer {
    padding-bottom: max(80px, env(safe-area-inset-bottom, 98px));
  }
}

@media screen and (max-width: 920px) {
  .GameAmountScoreSection {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    transform: translateX(100%);
    z-index: 10;
    transition: transform 0.3s ease;
  }

  .ScoreContainer {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    will-change: transform;
    height: calc(100% - 65px);
    min-height: 101%;
  }
}
