.GameContainer {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 920px) {
  .GameContainerQuestions {
    width: 100%;
    padding-top: 40px;
  }
}
